
@{
    ViewBag.Title = "Index";
}

<h2>ASP.NET SignalR</h2>

<p class="well">
    This page provides a demo of Tweetinvi with ASP.NET SignalR, a signalling / websockets library that provides an easy to use implementation of realtime functionality.
</p>

<ul class="nav nav-tabs">
    <li role="presentation" class="@(ViewContext.RouteData.Values["Action"].ToString() == "SampleStream" ? "active" : "")">@Html.ActionLink("Sample Stream", "SampleStream", "AspNetSignalR")</li>
    <li role="presentation" class="@(ViewContext.RouteData.Values["Action"].ToString() == "FilteredStream" ? "active" : "")">@Html.ActionLink("Filtered Stream", "FilteredStream", "AspNetSignalR")</li>
    <li role="presentation" class="@(ViewContext.RouteData.Values["Action"].ToString() == "UserStream" ? "active" : "")">@Html.ActionLink("User Stream", "UserStream", "AspNetSignalR")</li>
</ul>

<hr/>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" id="start" class="btn btn-success">Start Stream</button>
    <button type="button" id="stop" class="btn btn-danger disabled">Stop Stream</button>
</div>

<hr/>



<input type="hidden" name="stream-type" value="@ViewBag.type" />

@if (ViewBag.type == "user")
{
    @Html.Partial("_UserStream")
}

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="list-group" id="tweets">
        </ul>
    </div>
</div>